@model LoginModel
@{
    ViewData["Title"] = "تسجيل الدخول";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row mt-5">

    <div class="col-12 text-center">
      <h1 class="EvetTitle">مرحبا بعودتك، قم بتسجيل الدخول</h1>
  
    
    </div>
  </div>

    <div class="row justify-content-center">
       
        <div class="col-lg-6">

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger text-end">
                    @TempData["ErrorMessage"]
                </div>
            }
            <form class="needs-validation" asp-controller="Account" asp-action="Login" method="post">
           
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true)
                <div class="form-floating mb-3">
                        
                    <input type="email" asp-for="Email" class="form-control form-control-lg " placeholder="البريد الإلكتروني" id="floatingInput" required>
                    <label for="floatingInput" >البريد الالكتروني</label>
                </div>

                <div class="form-floating mb-3">
                        
                    <input type="password" asp-for="Password" class="form-control form-control-lg" id="floatingInput"  required>
                    <label  for="floatingInput">الرقم السري</label>
                </div>
            
                <div>
                   
                    <button type="submit" class="btn form-control btn-lg w-100 bg-dark text-white">تسجيل الدخول</button>

                </div>
            
            </form>

            <div class="text-center mt-5">

                <h6> نسيت كلمة المرور  <a asp-area="" asp-controller="account" asp-action="Resetpassword">اضغط هنا للاسترجاع</a> </h6>
                <h6>إذا ليس لديك حساب قم  <a asp-area="" asp-controller="account" asp-action="register">بإنشاء حساب جديد</a> </h6>
            </div>
        </div>
    </div>
    




