@model LoginModel
@{
    ViewData["Title"] = "نسيت كلمة المرور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row mt-5">

    <div class="col-12 text-center ">
      <h1 class="EvetTitle"> لقد تم إرسال رابط إعادة تعين كلمة المرور على بريدك الإلكتروني</h1>
  
    
    </div>
  </div>






