@model LoginModel
@{
    ViewData["Title"] = "نسيت كلمة المرور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row mt-5">

    <div class="col-12 text-center headBanar">
      <h1 class="EvetTitle">  ادخل بريدك الإلكتروني لإعادة تعيين كلمة المرور  </h1>
  
    
    </div>
  </div>

    <div class="row justify-content-center">
       
        <div class="col-lg-6">

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger text-end">
                    @TempData["ErrorMessage"]
                </div>
            }
            <form class="needs-validation" asp-controller="Account" asp-action="ResetAccountpassword" method="post">
           
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true)
                <div class="form-floating mb-3">
                        
                    <input type="email" asp-for="Email" class="form-control form-control-lg " placeholder="البريد الإلكتروني" id="floatingInput" required>
                    <label for="floatingInput" >البريد الالكتروني</label>
                </div>

            
                <div>
                   
                    <button type="submit" class="btn form-control btn-lg w-100 bg-dark text-white">إعادة تعيين </button>

                </div>
            
            </form>

            <div class="text-center mt-5">

                <h6>إذا ليس لديك حساب قم  <a asp-area="" asp-controller="account" asp-action="register">بإنشاء حساب جديد</a> </h6>
            </div>
        </div>
    </div>
    




