@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@{
 
	<!-- var userProfileClaim = Context.User.Claims.FirstOrDefault(x => x.Type.Equals("UserModel", StringComparison.OrdinalIgnoreCase))?.Value;
    var isAdminClaim = Context.User.Claims.FirstOrDefault(x => x.Type.Equals("Company", StringComparison.OrdinalIgnoreCase))?.Value;
    
    var userProfile = new UserModel();
	var isAdmin = false;
	
	if (userProfileClaim != null)
	{
		userProfile = Newtonsoft.Json.JsonConvert.DeserializeObject<UserModel>(userProfileClaim);
		ViewData["UserProfile"] = userProfile;
	}
	
	if (isAdminClaim != null)
    {
        isAdmin = bool.Parse(isAdminClaim as string);
    } -->
}


@if (User.Identity.IsAuthenticated)
{
    <p>User is authenticated.</p>
    
    @if (User.IsInRole("Admin"))
    {
        <p>User is an admin.</p>
    }
    else
    {
        <p>User is not an admin.</p>
    }
    
    @if (User.Claims.Any(c => c.Type == "UserType" && c.Value == "Company"))
    {
        <p>User is a company user.</p>
    }
    else
    {
        <p>User is not a company user.</p>
    }
}
else
{
    <p>User is not authenticated.</p>
}
    <!DOCTYPE html>
    <html lang="ar" dir="rtl">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - منصة كراسي</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Shubak_Website.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/iconsax/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" />

        <meta name="google-site-verification" content="kJj2l_am0CgWHAAvods0AA_dGJ7tmKF4AbvNAnoPuV4" />

        @{

        var Token = ViewData["UserToken"];
        
        
        <div class="container-fluid">
            <div class="d-flex p-2 bd-highlight mt-2 bg-light border-raduis">
                <div>
                    <img src="/assets/icons/icons8-face-smile-64.png" width="45">
                </div>

                    <div class="col-auto text-end">


                        @if( Token != null)
                        {
                            <a class="loginLink" asp-area="" asp-controller="Account" asp-action="Login">
                                <h5>مرحبا ، @ViewData["ShowFirstName"]</h5>  
                            </a>

                            <a class="registerLink" asp-area="" asp-controller="Account" asp-action="Logout">
                                <h6>تسجيل خروج</h6>
                            </a>
                        }
                        else{

                            <a class="loginLink" asp-area="" asp-controller="Account" asp-action="Login">
                                <h5>تسجيل الدخول</h5>  
                            </a>
                        <a class="registerLink" asp-area="" asp-controller="Account" asp-action="Register">
                            <h6>او انشئ حساب جديد</h6>
                        </a>

                          }
                    </div>

                <div class="me-auto p-2 bd-highlight">
                    <a asp-controller="Home" asp-action="index">
                      <img src="/assets/KarasiLogo.svg" width="49" height="49"></img>
                    </a>
                  
                </div>
              </div>
        </div>

    }
    
    </head>


    <body>


        <div class="container-fluid">
    
                <main role="main">
                    @RenderBody()
                </main>
       
            <footer  class="mt-5 mb-2 bg-light footer-style  border-raduis ">


                <div class="CildFooter ">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h3>الهوية</h3>
                                <a style="text-decoration: none;" class="d-inline-block" asp-area="" asp-controller="Home" asp-action="Privacy">سياسية الاستخدام</a>
                                <a style="text-decoration: none;" class="d-inline-block mx-3" asp-area="" asp-controller="Home" asp-action="Privacy">من نحن ؟</a>
                            </div>
                            <div class="col text-start">
                            <div>كراسي</div>
                            <h6>&copy; 2023 - Shubak Website -</h6>
                                   
                            </div>
    
                            
                        </div>
                    </div>

                </div>


    
                  

            </footer>
        </div>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>

    </html>


    <script>
        function redirectOnClick() {
            document.location = 'Admin/index';
        }
    </script>