   
@{
  
    ViewData["Title"] = "Booking Confirmtion";
}




<div class="row mt-5">

  <div class="col-12 text-center ">
    <h1 class="EvetTitle">تهانيناً </h1>
    <h4>تم حجز التذكرة بنجاح</h4>
    <h5>تم ارسال نسخة من التذكرة الى بريدك الإلكتروني </h5>
    <a asp-action="MyTicket" asp-controller="Home" class="btn text-white bg-dark">مراجعة التذاكر الخاصة بي</a>

  </div>
</div>

