   
@{
  
    ViewData["Title"] = "Booking Confirmtion";
}




<div class="row mt-5">

  <div class="col-12 text-center headBanar">
    <h1 class="EvetTitle">تهانيناً </h1>
    <h4>تم حجز التذكرة بنجاح</h4>
    <a asp-action="index" asp-controller="Admin" class="btn text-white bg-dark">مراجعة التذاكر الخاصة بي</a>
    <a>إضافة التذكرة الى Wallet</a>
  </div>
</div>

