@model TicketModel;
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Authentication.Cookies




@{


    ViewData["Title"] = "تفاصيل التذكرة";
   var UserID =  ViewData["UserToken"];
   var UserNme = ViewData["ShowFirstName"];
   var UserEmail = ViewData["UserEmil"];
   var NewPrice = ViewData["NewPrice"];
   var r = ViewData["RemainingSeats"]; 

    
}



<div class="container">


    

</div>






